/morganstanley
/.idea
.idea/workspace.xml

.idea/workspace.xml

.idea/workspace.xml

.idea/workspace.xml

.idea/workspace.xml

.idea/workspace.xml

.idea/workspace.xml

*.xml

*.log

.idea/workspace.xml

.idea/workspace.xml
